@inherits LayoutComponentBase

<PageTitle>MoogleServer</PageTitle>

<div class="page">
    <main>
        <article class="content pt-4 text-center">
            @Body
        </article>
    </main>
</div>
